

body {
  margin: 0;
  background-color: lightblue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://thumbs.dreamstime.com/t/fondo-geom%C3%A9trico-negro-oscuro-del-mate-puro-sitio-moderno-m%C3%ADnimo-elegante-129574913.jpg');
}

