.listaCategorias {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
}

.containerCajas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 20px;
}

.container {
  margin-top: 40px;
  padding: 20px;
  width: 90%;
  height: 100%;
  border: solid 1px black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 20px,
    gray 0px -5px 5px, whitesmoke 0px 2px 6px,
    gray 0px 0px 8px, whitesmoke 0px -3px 3px;
  background-color: rgb(15, 15, 15);
}

.botonCategoria {
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 10px 0;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  line-height: normal;
  max-width: 100%;
  padding: 2px 24px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 0;
}

.botonCategoria:hover {
  display: inline-block;
  transform: scale(1.1);
}

